<div class="container-fluid row m-0" style="height: 100vh; justify-content: space-between">

  <span class="container">

    <mat-form-field appearance="outline" class="col-12 col-md-6 p-2">
        <mat-label translate>name</mat-label>
        <input matInput [ngModel]="list?.name" (ngModelChange)="list.name=$event" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6 p-2">
      <mat-label translate>language</mat-label>
      <mat-select [ngModel]="list?.language" (ngModelChange)="list.language=$event" required>
        <mat-option *ngFor="let language of languages" [value]="language" class="flag">
          {{language | translate}}
          <span>
              <img [src]="'https://www.countryflags.io/'+ language+'/flat/16.png'">
            </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6 p-2">
      <mat-label translate>translation_language</mat-label>
      <mat-select [ngModel]="list?.translationLanguage" (ngModelChange)="list.translationLanguage=$event" required>
        <mat-option *ngFor="let language of languages" [value]="language" class="flag">
          {{language | translate}}
          <span>
              <img [src]="'https://www.countryflags.io/'+ language+'/flat/16.png'">
            </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-md-6 p-2">
        <mat-label translate>description</mat-label>
      <textarea matInput [ngModel]="list?.description" (ngModelChange)="list.description=$event"></textarea>
    </mat-form-field>

    <span class="col-12 col-md-6 p-2 app-checkbox">
      <mat-checkbox [ngModel]="list?.private"
                    (ngModelChange)="list.private=$event" color="primary">{{'private_list' | translate}}</mat-checkbox>
    </span>

    <app-word-list-content *ngIf="!isMobile"></app-word-list-content>

  </span>

  <span class="bottom-buttons">

    <button mat-raised-button class="bottom-button"
            routerLink="words" *ngIf="isMobile" [disabled]="list.id == null">{{'words' |translate}}</button>
    <button mat-raised-button color="primary" class="bottom-button"
            (click)="save()">{{'save' | translate}}</button>
  </span>
</div>




