/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #dfcae5;
}

.flag > .mat-option-text {
  display: flex;
  justify-content: space-between;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.bottom-button {
  height: 45px;
  margin-bottom: 15px !important;
}
